[Desktop Entry]
Type=Application
Name=Chivy
Comment=Small game
Comment[pl]=Prosta gra
Exec=chivy
Icon=chivy
Categories=Game;ArcadeGame;
Terminal=false
