[Desktop Entry]
Name=Chivy
Comment=Small game
Comment[pl]=Prosta gra
Exec=chivy
Icon=chivy
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
StartupNotify=false
