[Desktop Entry]
Encoding=UTF-8
Name=Chivy
Comment=Simple multiplayer game
Comment[pl]=Prosta gra wieloosobowa
Exec=chivy
Icon=chivy
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
StartupNotify=true
